# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# next.js
.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts 

# AWS SAM
.aws-sam/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/

# Temporary upload files
temp_upload_*

# Environment files
.env

# Build artifacts
*.egg-info/
dist/
build/

# Static files (generated)
main_app/backend/static/ 

/inv-processing-authentication-f9e50adadbc5.json


/.github/workflows/secrets.env